*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;

}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba,#5b548a);
    color: #fff;
    margin: 100px  auto 0;
    border-radius: 20px;
    padding:40px 35px;
    text-align: center;
    margin-top: 10PX;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search input{
    border: 0;
    outline: 0;
    color: #555;
    background-color: #ebfffc;
    padding: 10px 20px;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 20px;
    font-size: 17px;

}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;

}
.search button img{
    width: 17px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;

}
.humidity, .wind{
    font-size: 18px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: left;
    margin-left:10px;
    font-size: 14px;
    margin-top:px;
    display: none;
}